<div class="text-content">
    <h1>All the folk!</h1>
    <p>Stort intresse h채r! Hela <span class="attending"><span class="attending-number"><%= attending %></span> personer</span> har angett sitt intresse! Men hur m책nga av dem 채r det som faktiskt kommer egentligen...?</p>
</div>

<div class="event-list" id="attendeesList" data-url="/del">
    <% attendees.forEach(function(attendee) {%>
        <div class="attend-item" id="js-attendee-<%= attendee._id %>">
            <div class="item-head">
                <button class="item-remove js-deleteButton" id="button-<%= attendee._id %>">X</button>
                <h2 class="item-title"><%= attendee.enroledName ? attendee.enroledName : 'Ok채nd' %></h2>

                <div class="item-attend">
                    <span><%= attendee.dateString ? attendee.dateString : '2018, typ' %></span>
                    <span><%= attendee.isAttending == 'true' ? 'Jag kommer' : 'Inte' %></span>
                </div>
            </div>
        </div>
    <% }); %>
</div>
